@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Overpass:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Overpass, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background: url(../images/dominos.webp) no-repeat fixed;
    background-size: contain;

}

h1, h2 {
    font-family: Fredoka, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    color: white;
    padding-left: 20px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 55px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    font-weight: 1000;
}

.active {
    font-weight: 1000;
}
