@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Overpass:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Overpass, sans-serif;
    font-weight: 300;
    color: #36454f;
}

h1, h2 {
    font-family: Fredoka, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #36454f;
}

.header-style {
    height: 75px;
    background-color: #36454f;
}

#logo {
    float: left;
    font-size: 280%;
    padding-left: 20px;
    color: whitesmoke;
}

#logo a {
    text-decoration: none;
    color: #fff;
    }
    
#logo a:hover, 
#logo a:focus {
    text-decoration: underline;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    color: whitesmoke;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 55px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    font-weight: 1000;
}

.active {
    font-weight: 1000;
    font-size: 115%;
}

#board-meet {
    text-decoration: none;
    color: inherit;
}

#board-meet:hover {
    text-decoration: underline;
}

#cover-text  {
    position: absolute;
    top: 65%;
    left: 50%;
}

 #cover-text h2 {
    color: whitesmoke
}

#hero-outer {
    height: 900px;
    width: 100%;
}

#hero-image {
    height: 900px;
    width: 100%;
    background: url(../images/boardgames2.jpg) no-repeat center center;
}

#hero-image2 {
    height: 800px;
    width: 100%;
    background: url(../images/dominos-large.jpg) no-repeat center center;
}

#hero-image3 {
    height: 800px;
    width: 100%;
    background: url(../images/boardgames1.jpg) no-repeat center center;
}


#hero-image4 {
    height: 800px;
    width: 100%;
    background: url(../images/draughts-medium.jpg) no-repeat center center;
}

#hero-image3header {
    padding-top: 2%;
    background-color: rgba(0, 0, 0, 0.35);
    height: 37px;
    width: 100%;
    text-align: center;
    font-size: 90%;
}

#hero-image3-ticket-container {
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 417px;
    padding: 1%;
    float: left;
}

.hero-image3itemheader {
    color: whitesmoke;
    font-size: 180%;

}

#left-about-ticket {
    height: 100%;
    padding-top: 30px;
    width: 33%;
    float: left;
    background: url(../images/ticket-to-ride-small.jpg) center center no-repeat;
    border-radius: 3%;
}

#center-about-catan {
    height: 100%;
    padding-top: 30px;
    width: 33%;
    background: url(../images/catan-small.jpg) center center no-repeat;
    border-radius: 3%;
    margin: 0 auto;
}

#right-about-warhammer {
    height: 100%;
    padding-top: 30px;
    width: 33%;
    float: right;
    background: url(../images/warhammer-small.jpg) no-repeat center center;
    border-radius: 3%;
}

#left-uno {
    height: 100%;
    padding-top: 30px;
    width: 40.5%;
    float: left;
    background: url(../images/uno-medium.jpg) center center no-repeat;
    border-radius: 5%;
}

#right-monopoly {
    height: 100%;
    padding-top: 30px;
    width: 59%;
    float: right;
    background: url(../images/monopoly2-medium.jpg) center center no-repeat;
    border-radius: 5%;
}

#left-chess {
    height: 100%;
    padding-top: 30px;
    width: 59%;
    float: left;
    background: url(../images/chess-right.jpg) center center no-repeat;
    border-radius: 5%;
}

#right-draughts {
    height: 100%;
    padding-top: 30px;
    width: 40.5%;
    float: right;
    background: url(../images/draughts-medium.jpg) center center no-repeat;
    border-radius: 5%;
}

#ticket-center {
    width: 33%;
    margin: 0 auto;
    float:left;
    color: whitesmoke;
}

.subheading-white {
    color: whitesmoke;
    padding: 1%;
}

#cover-text {
    font-size: 130%;
    letter-spacing: 4px;
    position: absolute;
    bottom: 300px;
    right: 300px;
}

.why-board-break {
    height: 20px;
}

#why-board2 {
    height: 300px;
}


#why-board3 {
    height: 300px;
}

img {
    height: auto;
    width: 100%;
    max-width: 100%;
    margin: 1em 0;
}

.why-board img {
	opacity: 0.8;
	transition: all ease-in-out 0.25s;
}

.why-board img:hover {
	opacity: 1;
    transform: scale(1.05);
}

p {
	font-size: 18px;
	line-height: 1.5em;
	margin: 1em 0;
}

#why-board-title {
    text-align: center;
    font-size: 280%;
    font-weight: 600;
    padding-top: 20px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
 }
 
 
 #right-about {
     padding-top: 30px;
     width: 33%;
     float: right;
  }
 
  #center-about {
     width: 33%;
     margin: 0 auto;
  }
 

 #center-about-meet {
    padding-top: 1%;
    width: 33%;
    margin: 0 auto;
 }

 hr {
     border-top: 1px solid #36454f;
     margin: 5px
 }


.about-heading-title {
    text-align: center;
}

 .left-about-heading {
     width: 60%;
     float: right;
     line-height: 20px;
     clear: both;
     text-align: justify;
     margin-right: 110px
 }

 .right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    text-align: justify;
    margin-left: 110px;
}

.center-about-heading {
    line-height: 20px;
    padding-top: 30px;
    text-align: justify;
}

#meet-left {
    width: 40%;
    height: 400px;
    float: left;
    
}

#meet-under {
    width: 40%;
    height: 400px;
    float: under;
    
}

.white-text {
   background-color: rgba(0, 0, 0, 0.35);
   border-radius: 5%;
}

.white-text > h2 {
    color: whitesmoke;
    text-align: center;
    padding-top: 25%;
}

.white-text > p {
    color: whitesmoke;
    text-align: center;
    padding-top: 2%;
}

footer {
    clear: both;
    position: relative;
    height: 75px;
    background-color: #36454f;
}

.mediums {
    text-align: center;
}

.mediums > li {
    display: inline;
}

.mediums i {
    font-size: 180%;
    margin: 1%;
    color: whitesmoke;
}

#suggest-text {
    color: whitesmoke;
}

.question-form {
    margin: 10% 10% 0 0;
    color: #eeeeee;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 400px;
    position: absolute;
    margin-left: 3em;
    padding: 50px;

    /*
     padding-top: 5%;
    padding-left: 5%;
    color:whitesmoke;
    background-color: rgba(0, 0, 0, 0.4); */
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.form-input {
    background: transparent;
    color:whitesmoke;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid whitesmoke;
    border-radius: 2px;
}

.form-submit {
    background-color: whitesmoke;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 100%;
    margin-left: 25px;
    cursor: pointer;
    border-radius: 5px;
}


@media screen and (max-width: 768px) {
    
    #menu {
    font-size: 80%;
    letter-spacing: 1px;
    color: whitesmoke;
    }
    
    #hero-image {
        height: 900px;
        width: 100%;
        background: url(../images/boardgames2.jpg) no-repeat center center;
    }

    #cover-text  {
        position: absolute;
        top: 65%;
        left: 50%;
    }
    
     #cover-text h2 {
        color: whitesmoke
    }

    #board-meet {
        color: whitesmoke;
    }

    .why-board {
        /* height: 300px; */
        width: 65%;
        margin: 0 auto
    }

    #left-about, #right-about {
        padding-top: 30px;
        width: 100%;
        float: left;
        display: block;
    }
    
    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }
    
    .left-about-heading, .right-about-heading {
        width: 100%;
        float: left;
        line-height: 20px;
        text-align: justify;
        margin: 0;

    }
    
    
 #center-about-meet {
     float: left;
    padding-top: 12%;
    width: 100%;
    margin: 0 auto;
 }

 #left-about-ticket {
    height: 100%;
    padding-top: 30px;
    width: 33%;
    float: left;
    border-radius: 3%;
}

#center-about-catan {
    height: 100%;
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
}

#right-about-warhammer {
    height: 100%;
    padding-top: 30px;
    width: 33%;
    float: right;
}


.why-board-games {
    height: 300px;
    width: 100%;
}
 

.question-form {
    margin: 35% 20% 20% 20%;
    color: #eeeeee;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 400px;
    position: absolute;
    padding: 50px;
    text-align: center;

}


.form-submit {
    margin-left: 0;
}

}